.button1 {
  color: white;
  background-color: #171717;
  min-width: 300px;
  border-radius: 5px;
  margin-bottom: 10px;
  min-height: 30px;
  transition: all 0.1s ease;
  border: none;
}

.button1:active {
  transform: scale(0.9);
}

:root {
  --background-color: #171717;
  --nav-color: #333;
  --button-1-color: #171717;
  --button-2-color: #333;
  --color: white;
}

.blue {
}

.red {
}

.catpuccin {
}

.green {
}
