@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Be Vietnam Pro", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #171717;
}

.fa-magnifying-glass {
  color: white;
}

.tabcontainerunactive #uv-frame {
  visibility: hidden;
}

.button {
  border-radius: 5px;
  width: 7%;
  height: 5%;
  background-color: #171717;
  color: white;
}

.active {
  color: #ff6666;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.header-center {
  align-items: center;
  flex-direction: column;
  margin-top: 10%;
}
.desc left-margin {
  height: 50px;
  
}

#uv-frame {
  width: 99%;
  left: .5%;
  height: 97%;
  border-radius: 10px;
  border: none;
}

.settingsdisplay {
  align-items:center;
}


#uv-error {
  color: #ff6666 !important;
  white-space: pre-wrap;
}

#uv-error-code {
  font-size: 12px;
  color: #fff;
  font-family: "Courier New", Courier, monospace;
}

#uv-register-sw-button {
  color: white;
  background: #555555;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 6px;
  padding: 16px 20px;
  line-height: 16px;
  display: none;
}

::selection {
  color: #333333;
  background-color: #ff6666;
}

#uv-register-sw:active {
  background: #333333;
}

#uv-register-sw.show {
  display: block;
}

.search {
    background: none;
    font-family: inherit;
    padding: 0px 17px;
    height: 48px;
    border: 1px solid rgb(255, 255, 255, 0.2);
    color: var(--text-color);
    border-radius: 3px;
    outline: none;
    width: 350px;
    margin-top: 5px;
    border-radius: 50px;
    color: #fff;
    transition: border-radius 0.1s;
}

.logo {
  width: 150px;
  height: 150px;
}

.logo-wrapper .text {
  font-size: 75px;
  color: #fff;
}

.logo-wrapper h1 {
  color: white;
}

footer {
  margin: 0 5vw;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  line-height: 30px;
  margin-bottom: 20px;
}

footer > div {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

footer a,
footer span {
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}

footer a {
  cursor: pointer;
}

footer a:hover {
  text-decoration: underline;
}

.desc p {
  width: 450px;
  color: rgba(253, 253, 253, 0.514);
}

#uv-address {
  background: none;
  font-family: inherit;
  padding: 0px 17px;
  height: 48px;
  border: 1px solid rgb(255, 255, 255, 0.2);
  color: var(--text-color);
  border-radius: 3px;
  outline: none;
  width: 350px;
  margin-top: 5px;
  border-radius: 50px;
  color: #fff;
  transition: border-radius 0.1s;
}

#uv-address:focus {
  border: 1px solid rgba(253, 253, 253, 0.514);
  border-radius: 6px;
}

    .navbar {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  width: 98%;
  margin-left: 1%;
  border-radius: 10px;
  position: fixed;
  z-index: 10;
  margin: 10px;
}

.tabcontainera {
  z-index: 9999999;
}

.icon {
background-color: #171717;
width:50px;
height: 50px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 5px;
}
 
::-webkit-scrollbar-thumb {
  background: #16263e; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #16263e; 
}
.logo {
  font-size: 24px;
  text-decoration: none;
  color: #fff;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline;
  margin-left: 20px;
}

.nav-links li:first-child {
  margin-left: 0;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

.search-container {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: auto;
  margin-left: 10px;
  z-index: 1;
}

.search {
  padding: 15px 18px;
  border: none;
  width: 1000px;
  border-radius: 5px;
  background-color: floralwhite;
  color: var(--main-text-color);
  outline: none;
  margin-right: 10px;
  z-index: 1;
}

  .search:focus::placeholder {
      color: floralwhite;
      padding: 20px 15px;
      z-index: 1;
  }

.material-symbols-outlined {
  padding: 10px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 1;
}

p.ex2 {
  font-size: 50px;
  padding-top: 2%;
  color: white;
}

p {
  color: white;
  padding: 20px 15px;
}

xn {
  font-size: 30;
}

input {
  background: none;
  font-family: 'Be Vietnam Pro', sans-serif;
  padding: 0px 17px;
  border: none;
  height: 20px;
  color: var(--text-color);
  outline: none;
  width: 200px;
  margin-top: 5px;
  border-radius: 30px;
  color: #fff;
  transition: border-radius 0.1s;
}

.tabbar {
padding: 30px 20px;
overflow:hidden
}
.tab {
background-color: #0d0d0d;
color:white;
border-radius: 5px;
width: 200px;
display: inline-flex;
margin-right: 10px;
display: inline-block;
position: relative;
}
.tabbutton {
background-color: #0d0d0d;
padding: 5px 5px 7px;
border-radius: 5px;
width: 50px;
height: 35px;
color:white;
display: inline-flex;
float: right;
padding: 5px;
float: left;
left:80px;
top: 0;
z-index: 1; 
cursor: pointer;
}

.tabbutton:hover {
color: #ff6666;
}

.tabbutton1 {
background-color: #0d0d0d;
padding: 5px 5px 7px;
border-radius: 5px;
width: 50px;
height: 35px;
color:white;
display: inline-flex;
float: right;
padding: 5px;
float: left;
left:80px;
}

.tabbutton1:hover {
color: #ff6666;
}

.tab active {
background-color: #333;
}

.tab:hover {
background-color: #333;
color: #ff6666;
}

.tabcontaineractive {
  z-index: 9999999;
}
.nav-links li a:hover {
color: #ff6666 ;
}

.tabs {
display: flex;
align-items: center; 
float:right;
}

.sidebar {
background-color: #333;
color:white;
width: 250px;
height: 100vh;
transition: all 1s;
z-index: 99999999;
margin: 0;
padding: 0;
}

.sidebar a:hover:not(.active) {
background-color: #555;
color: #ff6666;
}

.tabcontaineractive tab /*tabcontaienr active for tab */ {
color: #ff6666;
}

.sidebar a /*sidebar :O */{
transform: translateX(0); 
background-color: #333;
color:white;
width: 250px;
height: 100vh;
transition: all 1s;
z-index: 99999999;
margin: 0;
padding: 0;
}

.material-symbols-outlined /* add the styles for the symbols*/ {
font-variation-settings:
'FILL' 0,
'wght' 500,
'GRAD' 200,
'opsz' 48
}

.tabthingys {
float: left;
}

.tabbar {
padding: 30px 20px;
overflow:hidden;
transition: 2.2s cubic-bezier(.36,-0.01,0,.77);
}

.tab {
background-color: #0d0d0d;
color:white;
padding: 15px 5px 15px 5px;
border-radius: 5px;
width: 200px;
display: inline-flex;
 display: inline-block;
 position: relative;
 transition: 2.2s cubic-bezier(.36,-0.01,0,.77);
}
.tabbutton {
background-color: #0d0d0d;
padding: 5px 5px 7px;
border-radius: 5px;
width: 150px;
height: 35px;
color:white;
display: inline-flex;
float: right;
padding: 5px;
float: left;
left:80px;
top: 0;
z-index: 1; 
cursor: pointer;
margin-left: yes;
transition: 2.2s cubic-bezier(.36,-0.01,0,.77);
}

.tabbutton:hover {
color: #ff6666;
}


.tabbutton1:hover {
color: #ff6666;
}

.tab active {
background-color: #333;
}

.tab:hover {
background-color: #333;
color: #ff6666;
}

.tbttn {
  font-size: 40px;
  padding-top: 0px;
  font: bold;
  color:white;
  position: relative;
  padding-right: 20px;
}

.button2 {
  color: white;
  background-color: #333333;
  min-width: 300px;
  border-radius: 5px;
  margin-bottom: 10px;
  min-height: 30px;
  transition: all 0.1s ease;
  border: none;
}

.button2:active {
  transform: scale(0.90);
}